<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.title_custom %}
  <title>{{ page.title_custom }}</title>
{% else %}
  <title>{{ page.title }} | {{ site.title }}</title>
{% endif %}

{% if page.description_custom %}
  <meta name="description" content="{{ page.description_custom | strip | escape }}">
{% elsif page.description %}
  <meta name="description" content="{{ page.description | strip | escape }}">
{% elsif page.excerpt %}
  <meta name="description" content="{{ page.excerpt | strip_html | strip | truncate: 160 | escape }}">
{% else %}
  <meta name="description" content="{{ site.description | strip | escape }}">
{% endif %}

<link rel="canonical" href="{% if page.canonical_url %}{{ page.canonical_url }}{% else %}{{ page.url | absolute_url }}{% endif %}" />

<link rel="icon" href="{{ '/favicon.ico' | relative_url }}">
<link rel="icon" href="{{ '/assets/icons/favicon.svg' | relative_url }}" type="image/svg+xml">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icons/favicon-16x16.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/apple-touch-icon.png' | relative_url }}">
<link rel="shortcut icon" href="{{ '/assets/icons/favicon.ico' | relative_url }}">
<link rel="manifest" href="{{ '/assets/icons/site.webmanifest' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
