<header>
  <p class="site-title" style="margin: 0; font-size: 1.6em; font-weight: bold; color: #80ff00; display: inline-flex; align-items: center;">
    <a href="/" style="color: inherit; text-decoration: none; display: flex; align-items: center;">
    <img src="/assets/icons/pinguins.svg" alt="Pinguins" width="40" height="40" style="margin-right: 10px;">  
        
      Piolinux

    </a>
  </p>

  <div class="menu-container">
    <button type="button" aria-label="Abrir menu" class="menu-toggle" onclick="document.body.classList.toggle('menu-open')">
      ☰
    </button>
    <nav class="dropdown-menu-container">
      <ul class="dropdown-menu">
        {% for item in site.data.navigation %}
          <li>
            <a href="{{ item.link | relative_url }}"
               {% if page.url == item.link %}class="active"{% endif %}>
              {{ item.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>




