<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include head.html %}
</head>



<body>
    {% include menu.html %}

    <main>
        <h1>{{ page.title }}</h1>
        {% if page.tags %}
        <div class="tags-container">
            {% for tag in page.tags %}
            <a href="/tags#{{ tag | slugify }}" class="tag-item">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
        </div>
        {% endif %}

        {{ content }}
<section class="post-content">
<div class="random-posts-container">
  <h3>🎲 Leitura aleatória</h3>
  <p>
    Não sabe o que ler agora? Deixe o acaso escolher por você:
  </p>
  <ul>
    {% assign posts_aleatorios = site.posts | where_exp:"p", "p.url != page.url" | sample:3 %}
    {% for post in posts_aleatorios %}
      <li>
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
        {% if post.description %}
          <p>
            {{ post.description }}
          </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
</section>

        
    </main>

    <div id="share" style="text-align:center;margin:15px 0"></div>
    <script async defer>
        (() => {
            const u=encodeURIComponent(location.href),t=encodeURIComponent(document.title);
            const d=[
                ["Reddit","#cc2400",`https://www.reddit.com/submit?url=${u}&title=${t}`],
                ["Twitter","#0077b9",`https://twitter.com/intent/tweet?url=${u}&text=${t}`],
                ["WhatsApp","#075e54",`https://api.whatsapp.com/send?text=${t}%20${u}`],
                ["LinkedIn","#005e8e",`https://www.linkedin.com/sharing/share-offsite/?url=${u}`]
            ],e=document.getElementById("share");
            d.forEach(([n,c,l])=>{
                let a=document.createElement("a");
                a.href=l;a.target="_blank";a.rel="noopener";
                a.textContent=n;
                a.style=`background:${c};color:#fff;padding:5px 10px;margin:0 5px;border-radius:4px;font-size:12px;text-decoration:none;user-select:none;display:inline-block;`;
                e.appendChild(a);
            });
        })();
    </script>
    
    {% include footer.html %}
</body>
</html>
